<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, <%= user.username %></title>
    <link rel="stylesheet" href="/static/css/profile.css">
    <%- include('import-css'); -%>
</head>
<body>
    <%- include('nav'); -%>
    <section class="profile-wrap justify-content-center py-5">
        <div class="card mx-auto text-center" style="width: 18rem;">
            <div class="card-body">
                <div class="d-flex justify-content-center mb-2">
                    <img  class="rounded-circle profile-image" src=<%= user.thumbnail %>  alt="Card image cap">
                </div>
                <h5 class="card-title"><%= user.name %></h5>
                <h6 class="card-subtitle mb-2 ">@<%= user.username %></h6>
                <%
                    let createdDate = new Date(user.createdAt);
                    let updatedDate = new Date(user.updatedAt);
                    function to2bit(n) {
                        return n < 10 ? '0' + n : n + '';
                    }
                    let created_date = `${createdDate.getFullYear()}-${to2bit(createdDate.getMonth()+1)}-${to2bit(createdDate.getDate())}`;
                    let updated_date = `${createdDate.getFullYear()}-${to2bit(createdDate.getMonth()+1)}-${to2bit(createdDate.getDate())}`;
                %>
                <p class="created-at">Join at: <%= created_date %></p>
                <p class="latest-login">Latest login at: <%= updated_date %></p>
            </div>
        </div>
    </section>
   
    <%- include('import-js'); -%>
   
</body>
</html>